// @font-face {
// 	font-family: 'icons';
// 	font-display: swap;
// 	src: url(../fonts/icons.ttf) format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: block;
// }
// %ic {
// 	font-family: 'icons';
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// [class^="_icon-"],
// [class*=" _icon-"]{
// 	&::before{
// 		@extend %ic;
// 		display: block;
// 	}
// }

// .icon-arrow-down:before {
//   content: "\e900";
// }
// .icon-arrow-link:before {
//   content: "\e901";
// }
// .icon-cart:before {
//   content: "\e902";
// }
// .icon-favorite:before {
//   content: "\e903";
// }
// .icon-location:before {
//   content: "\e904";
// }
// .icon-phone:before {
//   content: "\e905";
// }
// .icon-search:before {
//   content: "\e906";
// }
// .icon-send:before {
//   content: "\e907";
// }
// .icon-share:before {
//   content: "\e908";
// }

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-down:before {
  content: "\e900";
}
._icon-arrow-link:before {
  content: "\e901";
}
._icon-cart:before {
  content: "\e902";
}
._icon-favorite:before {
  content: "\e903";
}
._icon-location:before {
  content: "\e904";
}
._icon-phone:before {
  content: "\e905";
}
._icon-search:before {
  content: "\e906";
}
._icon-send:before {
  content: "\e907";
}
._icon-share:before {
  content: "\e908";
}
