.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	&__wrapper {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 50;
	}

	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		padding: 5px 0;
		min-height: 125px;
	}

	&__main {
		display: flex;
		flex: 0 0 494/1240 * 100%;
	}

	&__logo {
		color: #000;
		font-weight: 700;
		font-size: 24px;
		line-height: 29 / 24 * 100%;
	}
}
// . {

// 	&_container {
// 	}

// 	&_icon-arrow-down {
// 	}

// 	&_icon-search {
// 	}

// 	&_icon-favorite {
// 	}

// 	&_icon-cart {
// 	}

// 	&_ibg {
// 	}
// }
.menu {
	flex: 0 1 420px;

	// &__body {
	// }

	&__list {
		@media (min-width: ($md3 + px)) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 3px;
		padding: 5px 0;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.menu__sub-list {
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.menu__arrow{
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link{
					color: $orangeColor;
				}
			}
		}
		@media (min-width: ($md3+px)) {
			&:hover {
				.menu__sub-list {
					transform: translate(0px, 0px);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.menu__arrow{
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link{
					color: $orangeColor;
				}
			}
		}
	}

	&__link {
		font-weight: 500;
		color: inherit;
		transition: color 0.3s ease 0s;
	}

	&__arrow {
		margin: 0 0 0 8px;
		transition: all 0.3s ease 0s;
		font-size: 8px;
	}

	&__sub-list {
		position: relative;
		background-color: $orangeColor;
		padding: 15px;
		flex: 1 1 100%;
		@media (min-width: ($md3+px)) {
			opacity: 0;
			transition: all 0.3s ease 0s;
			transform: translate(0px, 10px);
			visibility: hidden;
			min-width: 200px;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 100%;
		}
	}

	&__sub-item {
		&:not(:last-child) {
			margin: 0 0 5px 0;
		}
	}

	&__sub-link {
		color: #fff;
		line-height: 120%;
	}
}
.search-form {
	&__icon {
	}

	&__item {
	}

	&__btn {
	}

	&__input {
	}
}
.actions-header {
	&__item {
		&_favorites {
		}
	}

	&__image {
	}
}
.cart-header {
	&__icon {
	}

	&__body {
	}

	&__list {
	}
}
.cart-list {
}
.ctions-header {
	&_item {
	}
}
.icon-menu {
}

/*
.icon-menu{
display: none;
@media (max-width: ($md3+px)) {
	display: block;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	span {
		transition: all 0.3s ease 0s;
		top: calc(50% -1px);
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
	&:first-child{
		top: 0;
	}
	&:last-child {
		top: auto;
		bottom: 0;
	}
	}
	&._active {
		span{
			transform: scale(0);
			&:first-child{
				transform: rotate(-45deg);
				top: calc(50% -1px);
			}
			&:last-child{
				transform: rotate(45deg);
				bottom: calc(50% -1px);
			}
		}
	}
}
}
*/
